.container{
    background-color: #a4be9f;
    border-radius: 10px;
    padding: 5px;
}

body{
  background-color: #a4be9f;
}

.button{
  color:#fff;
}

#navbar_logo {
    max-width: 100%;
}

.navbar{
    border-radius: 5px;
    background-color: #a4be9f;
}

.nav-item {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 20px;
}

.big-text {
  text-align: center;
  margin: auto;
  position: relative;
  display: block;
}

header.head {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #a4be9f;
}

.beginning {
	text-align: center;
	text-indent: 30px;
	padding: 20px;
	padding-left:50px;
	padding-right: 50px;
	font-size: 1.2em;
	line-height: 50px;
	color: #a1866a;
	font-family: Bell MT;
	background: white;
}

.background-media video {
	width: 100%;
    height: 100%;
	display: block;
}

.beginning {
    text-align: justify;
    text-indent: 30px;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
  }
  
  .video-wrapper object,
  .video-wrapper embed,
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #introCarousel,
  .carousel-inner,
  .carousel-item,
  .carousel-item.active {
    height: 100vh;
  }

  .carousel-item:nth-child(1) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .carousel-item:nth-child(2) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .carousel-item:nth-child(3) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  /* Height for devices larger than 576px */
  @media (min-width: 992px) {
    #introCarousel {
      margin-top: -58.59px;
    }
  }

  .navbar .nav-link {
    color: #fff !important;
  }